
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.logo {
  display: flex;
  align-items: center;

  &__icon {
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__txt {
    font-size: 22px;

  }

}

.link {


  &__btn {
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 15px;

    &_active {
      background-image: linear-gradient(to right, #ff1430, #bc06f4);
      border: none;
    }
  }
}



