
@media (max-width: 1600px) {

  menu {
    width: 64%;
  }
  
}

@media (max-width: 1536px) {

  menu {
    width: 66%;
  }

  .info {
    font-size: 20px;
  }

  .person {
    font-size: 21px;

    &__photo {
      width: 220px;
      height: 226px;
    }

  }
}

@media (max-width: 1440px) {

  menu {
    width: 70%;
  }

  .btn {
    font-size: 15px;
  }

  .logo {
    &__icon {
      width: 58px;
    }

    &__txt {
      font-size: 20px;
    }
  }

  .slogan {

    &__txt {
      font-size: 65px;
    }

    &__img {
      width: 44%;
    }
  }

  .info {
    font-size: 18px;

    &__img {
      width: 650px;
    }
  }

  .person {
    font-size: 18px;

    &__photo {
      width: 200px;
      height: 190px;
    }
  }

  .footer {
    &__txt {
      font-size: 22px;
    }
  }
}

@media (max-width: 1336px) {

  menu {
    width: 75%;
  }

  .btn {
    font-size: 14px;
  }

  .logo {
    &__icon {
      width: 56px;
    }

    &__txt {
      font-size: 18px;
    }
  }

  .slogan {

    &__txt {
      font-size: 65px;
    }

    &__img {
      width: 44%;
    }
  }

  .info {
    font-size: 17px;

    &__img {
      width: 600px;
    }
  }

  .person {
    font-size: 18px;

    &__photo {
      width: 190px;
      height: 180px;
    }
  }

  .footer {
    &__txt {
      font-size: 21px;
    }
  }
}

@media (max-width: 1280px) {

  menu {
    width: 77%;
  }

  .btn {
    font-size: 14px;
  }

  .logo {
    &__icon {
      width: 56px;
    }

    &__txt {
      font-size: 18px;
    }
  }

  .slogan {

    &__txt {
      font-size: 65px;
    }

    &__img {
      width: 44%;
    }
  }

  .info {
    font-size: 17px;

    &__img {
      width: 600px;
    }
  }

  .person {
    font-size: 17px;

    &__photo {
      width: 185px;
      height: 178px;
    }
  }

  .footer {
    &__txt {
      font-size: 20px;
    }
  }
}



